[Unit]
Description=Start browser

Requires=startx.service
After=network-online.target
Wants=network-online.target

[Service]
Environment=DISPLAY=:0
ExecStartPre=-/usr/bin/curl -fsI --retry 30 --retry-delay 1 --retry-all-errors https://time.lkiesow.de
ExecStart=/usr/bin/chromium-browser https://time.lkiesow.de --kiosk --noerrdialogs --disable-infobars --no-first-run --enable-features=OverlayScrollbar --start-maximized
Restart=always
User=virtuos

[Install]
WantedBy=multi-user.target
